* { //* is known by wildcard, it selects all elements on the DOM */
    margin: 0;
    padding: 0;
  }



.flex-header{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    
}

.header-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    height: 150px;
    width: 250px;
    padding-bottom: 0%;
}

.navmenu{
    display: flex;
    align-items: center;
   
}

ul {
    display: flex;
    flex-wrap: wrap;
    line-height: 150px;
  }
.navmenu li {
 
    list-style-type: none;
    margin-right: 50px; 
    border-right: 5px solid black;
    border-left: 5px solid black;
    font-size: 200%;
}

.navmenu a {
    text-decoration: none;
}

.navmenu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

#hero-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    

}

#hero-image{
    height: 600px;
    width: 100%;
    background: url("../images/heroimage.jpg") no-repeat center center;
    background-size: cover;
}



/* For medium screens sizes from 750px wide and down */
@media screen and (max-width: 750px){

    .flex-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction:column;
    }

    .header-img{
        display: flex;
        align-items: center;
    }

    .navmenu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

