* { //* is known by wildcard, it selects all elements on the DOM */
    margin: 0;
    padding: 0;
  }



.flex-header{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    background-color: #D7CEC7;
}

.header-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    height: 150px;
    width: 250px;
    padding-bottom: 0%;
}

.navmenu{
    display: flex;
    align-items: center;
   
}

.navmenu ul {
    display: flex;
    flex-wrap: wrap;
   
  }
.navmenu li {
 
    list-style-type: none;
    margin-right: 50px; 

    font-size: 200%;
}

.navmenu a {
    text-decoration: none;
}

.navmenu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

#hero-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    

}

#hero-image{
    height: 600px;
    width: 100%;
    background: url("../images/heroimage.jpg") no-repeat center center;
    background-size: cover;
}


#services-container{
    display: flex;
 justify-content: space-evenly;
 background-color: #D7CEC7;

}
#services h1{
    text-align: center;
    font-size: 32px;
 
 }

 #services ul {
    flex-direction: column;
    padding: 5px;
    height: auto;
    

} 

.services-lists{
    border: 2px;
    border-style: solid;
    text-align: center;
    width: 25%;
    height: auto;
}
.services-lists li {
    
   flex-grow: 1;
   list-style-type: none;
   padding: 4px;
   font-size: 125%;
   background-color: #D7CEC7;

   
  }

  .services-lists h2{
    background: #565656;
  }

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    

   
   
  }
 .button:hover {
    background-color: #3e8e41;
  }

  .social-networks{

    display: flex;
    font-size: 175%;
    justify-content: space-evenly;
    list-style-type: none;

  }


  #gallery-container{
display: flex;
flex-wrap: wrap;
justify-content: center;
max-width: 1800px;
flex-grow: 1;

  }



  #gallery-container img{
    
    display: flex;
    margin: 10px;
    border: 3px solid #000;
    max-height: 500px;
    max-width: 500px;

  }


  #contact-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
  /* sets both to space-between */
    
    
  }
  #contact-form{
    display: flex;
    justify-content: center;
    margin: 5px;
    width: 500px;
    padding: 5px;
  }  
  
  #contact-form input,textarea{
display: flex;
flex-direction: column;
width: 400px;
padding: 6px;
  }

  #contact-form label{
    font-size: 20px;
    padding: 4px;
  }


/* For medium screens sizes from 750px wide and down */
@media screen and (max-width: 750px){

    .flex-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction:column;
    }

    .header-img{
        display: flex;
        align-items: center;
    }

    .navmenu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    #services-container{
    
    flex-direction: column;
    
    
    }
    .services-lists{

        width: 100%;
        
        
    }
    #services ul,h2 {
 text-align: center;
        
    } 

    #gallery-container{
        display: flex;
        flex-direction: column;

      
        
        align-items: center;
        justify-content: stretch;
          }

          #gallery-container img{
    
            display: flex;
            margin: 10px;
            border: 3px solid #000;
            max-height: 500px;
            max-width: 500px;
            
          }
}