* { //* is known by wildcard, it selects all elements on the DOM */
    margin: 0;
    padding: 0;
  }



.flex-header{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    
}

.header-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    height: 150px;
    width: 250px;
    padding-bottom: 0%;
}

.navmenu{
    display: flex;
    align-items: center;
   
}

.navmenu ul {
    display: flex;
    flex-wrap: wrap;
   
  }
.navmenu li {
 
    list-style-type: none;
    margin-right: 50px; 

    font-size: 200%;
}

.navmenu a {
    text-decoration: none;
}

.navmenu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

#hero-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    

}

#hero-image{
    height: 600px;
    width: 100%;
    background: url("../images/heroimage.jpg") no-repeat center center;
    background-size: cover;
}



/* For medium screens sizes from 750px wide and down */
@media screen and (max-width: 750px){

    .flex-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction:column;
    }

    .header-img{
        display: flex;
        align-items: center;
    }

    .navmenu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    #services-container{
    flex-wrap: wrap;
    flex-direction: column;
   
    
    }
    .services-lists{
        border: 4px;
        border-style: solid;
        flex-grow: 1 ;

        
    }
    #services ul,h2 {
 text-align: center;
        
    } 

}
#services-container{
    display: flex;
 justify-content: space-evenly;

}
#services h1{
    text-align: center;
    font-size: 32px;
 
 }

 #services ul {
    flex-direction: column;
    padding: 5px;
    height: auto;
} 

.services-lists{
    border: 2px;
    border-style: solid;
    text-align: center;
    width: 25%;
    
}
li {
    
   
   flex-grow: 1;
   list-style-type: none;
   padding: 4px;
   font-size: 125%;

  }
